.card {
	display: flex;
	justify-content: space-between;
	width: 500px;
	.details {
		text-align: left;
		width: 300px;
		.name {
			font-weight: bold;
		}
	}
	.links {
		width: 200px;
		.link {
			color: blue;
			text-decoration: none;
			cursor: pointer;
			&:hover {
				color: darkblue;
			}
		}
	}
}
